<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magnate</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body id="home-page">
    <header>
        <nav id="navbar">
            <div class="container">
                <span class="logo"></span> 
                <!-- <img src="/static/images/logo.png" alt="magnate empire logo"> -->
                <h1>
                </h1>
                <!-- <p>Showcasing My Work and Creativity</p> -->
                <ul>
                    <li><a class="current" href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('about')}}">About</a></li>
                    <li><a href="{{url_for('contacts')}}">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div id="flash-messages">
        {% for category, message in messages %}
            <div class="flash-message {{ category }}">
            {{ message }}
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <main id="empire1">
        <section id="work">
            <!-- <h2>My Work</h2> -->
            <p><span class="primary-text"><strong>A Proffesional Trader.</strong></span> <br>
                I am a Proffesional and Certified Forex and Binary Trader. <br>
                <a class="btn" href="{{url_for('more')}}" target="_blank"><strong>Learn More</strong></a>
                <a class="btn" href="{{url_for('contacts')}}" target="_blank"><strong>Hire Me</strong></a>
            </p>
        </section>
    </main>
    <div class="social-media-icons">
        <a href="https://wa.me/0113266213" target="_blank">
            <i class="fab fa-whatsapp" style="font-size: 30px; color: green;"><span class="socials-text">0113 266 213</span></i>
        </a>
        <a href="https://instagram.com/magnatefx_ke?igsh=MXM0eWN0d3djeW9uMw==" target="_blank">
            <i class="fab fa-instagram" style="font-size: 30px; color: #E4405F;"><span class="socials-text">@magnatefx_ke</span></span></i>
        </a>
        <a href="https://facebook.com/yourprofile" target="_blank">
            <i class="fab fa-facebook" style="font-size: 30px; color: blue;"><span class="socials-text">MAGNATE</span></span></i>
        </a>
        <a href="https://twitter.com/yourprofile" target="_blank">
            <i class="fab fa-twitter" style="font-size: 30px; color: #1DA1F2;"><span class="socials-text">@magnatefx_ke</span></span></i>
        </a>
    </div>
    <footer>
        <p> Magnate Empire &copy; 2025. All Rights Reserved.</p>
    </footer>
</body>
</html>
